<form [formGroup]="form" (ngSubmit)="save($event)">
    <p>
        Name:  {{nameField.valid}}
        <input 
        [class.is-valid]="isNameFieldValid"
        [class.is-invalid]="isNameFieldInValid"
        type="text" 
        formControlName="name"/>
    
        <!-- imprimir para ver informacion -->
        <!-- <code>
            <pre>
              {{nameField | json}}
            </pre>
        </code> -->
        <button [disabled]="nameField.invalid" (click)="getNameValue()">Get value</button>
    </p>

<div class="messages" [class.active]="isNameFieldInValid">
    <p>
        <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido</strong>
    </p>
    
    <p>
        <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">Este campo debe tener maximo 10 caracteres</strong>
    </p>
    </div>
    <p>
        Email:{{emailField.value}}
        <input type="email" formControlName="email">
    </p>

    <p>
        Phone:{{phoneField.value}}
        <input type="tel" formControlName="phone">
    </p>
  
    <div class="messages" [class.active]="phoneField.touched && phoneField.invalid">
        <p>
            <strong *ngIf="phoneField.touched && phoneField.hasError('required')">Este campo es requerido</strong>
        </p>
    </div>
    <p>
        Color:{{colorField.value}}
        <input type="color" formControlName="color">
    </p>
    <p>
        Date:{{dateField.value}}
        <input type="date" formControlName="date">
    </p>
    <p>
        Number:{{numberField.value}}
        <input type="number" formControlName="number">
    </p>
    
    <p>
        catefory{{categoryField.value}}
        <select formControlName="category">
            <option value="category-1">Category 1</option>
            <option value="category-2">Category 2</option>    
            <option value="category-3">Category 3</option>
            <option value="category-4">Category 4</option>    
        </select>
    </p>
    
    <p>
        Tags:{{tagField.value}}
        <select  formControlName="tag" multiple>
            <option value="tag-1">tag 1</option>
            <option value="tag-2">tag 2</option>    
            <option value="tag-3">tag 3</option>
            <option value="tag-4">tag 4</option>
        </select>
    </p>
    <p>
        Agree:{{agreeField.value}}
        <input type="checkbox" formControlName="agree">
    </p>
    <p>
        Gender:{{genderField.value}}
        <label for="">
            <input name="gender" type="radio" value="male" formControlName="gender">
            Male
        </label>
        <label for="">
            <input name="gender" type="radio" value="female" formControlName="gender">
            Female
        </label>
        <label for="">
            <input name="gender" type="radio" value="other" formControlName="gender">
            Other
        </label>
    </p>
    <p>
        zone:{{zoneField.value}}
        <label for="">
            <input name="zone" type="radio" value="zone-1" formControlName="zone">
            zona 1
        </label>
        <label for="">
            <input name="zone" type="radio" value="zone-2" formControlName="zone">
            zona 2
        </label>
        <label for="">
            <input name="zone" type="radio" value="zone-3" formControlName="zone">
            zona 3 
        </label>
    </p>
    <p>
        <!-- <button [disabled]="form.invalid" type="submit">Enviar</button> -->
        <button  type="submit">Enviar</button>

    </p>
</form>


