.imgCategory{
    max-width: 150px;
}
.marginButtonCreate{
    margin: 15px 0px 15px;
}
.flexAlignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gapGrid{
    grid-gap: 1rem;
}